<style type=text/css>
A:link {
 COLOR: blue ;
}



</style>

<h1>Welcome to your Profile!</h1>
<hr>
<strong>Name: </strong><%=@user.first_name  %> <%= @user.last_name %><br/>
<strong>Location: </strong><%=@user.location  %><br/>
<strong>Bio: </strong><%=@user.bio  %><br/>

<p class="lucid">
<% if @user.been_lucid %> 
	<p class="lucid"><%= @user.first_name %> has gone lucid before!</p>
<% else %>
	<p class="lucid"><%= @user.first_name %> has not been lucid yet, but soon!</p>
<% end %>
</p>

<h3 color="red"><%= link_to 'My Dream Journal', '#' %></h3>