<h1>Listing forum_sections</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forum_sections.each do |forum_section| %>
  <tr>
    <td><%= forum_section.title %></td>
    <td><%= forum_section.text %></td>
    <td><%= link_to 'Show', forum_section %></td>
    <td><%= link_to 'Edit', edit_forum_section_path(forum_section) %></td>
    <td><%= link_to 'Destroy', forum_section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Forum section', new_forum_section_path %>
